---
# Front matter added
---

@mixin recipe {
  height: 70%;
  width: 80%;
  margin: 0 10%;
  padding: 20px 5px;
  position: absolute;
  border-top: 1px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

textarea {
  height: 3rem;
  width: 100%;
}

p {
  display: inline;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: left;
  margin: 5% 10% 0 10%;
  li {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px 15px 0 0;
  }
}

.add-recipe-tab {
  background: #fcd986;
}

.recipe-tab {
  background: #f8ecc2;
}

.recipe-folder {
  background: #fcd986;
  @include recipe
}

.recipe-page {
  background: linear-gradient(180deg, #f8ecc2 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, #f8ecc2, #f8ecc2 1.5rem, #AAA 1px, #AAA calc(1.5rem + 1px));
  @include recipe
}

.recipe-ingredients {
  margin-top: 19px;
  margin-bottom: 26px;
  li {
    height: 1.55rem;
  }
}